sudo: false
addons:
    chrome: stable
    postgresql: "10"
    apt:
        packages:
            - postgresql-10
            - postgresql-client-10
env:
    global:
        - PGPORT=5433
        - DB_URI='postgres:///travis'
services:
    - postgresql
language: python
python:
    - "3.5"

install:
    - "pip install -r requirements.txt"
    - "pip install flake8"
script:
    - "flake8 ."
    - "py.test"
