-e git+https://github.com/OpenDataServices/flatten-tool.git@e700b32932232660bed95fa3bcf8936bb2e351a6#egg=flattentool
-e git+https://github.com/OpenDataServices/cove.git@e37b22ff1d793d7e095a267dc0e5bedd2e2c337b#egg=cove

attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
idna==2.6
more-itertools==4.1.0
pgpasslib==1.1.0
pluggy==0.6.0
py==1.5.3
pytest==3.5.0
requests==2.18.4
six==1.11.0
urllib3==1.22
SQLAlchemy==1.2.5
psycopg2==2.7.4
alembic==0.9.9
ratelimit==1.4.1
lxml==4.2.1
feedparser==5.2.1
flake8==3.5.0
